USE [QuanLyCuaHangKeo]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 31/01/2026 4:13:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MaHD] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGiaBan] [float] NULL,
	[ThanhTien] [float] NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 31/01/2026 4:13:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [datetime] NULL,
	[TongTien] [float] NULL,
	[Username] [varchar](50) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 31/01/2026 4:13:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiSanPham] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 31/01/2026 4:13:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[SoLuong] [int] NULL,
	[GiaBan] [float] NULL,
	[GiaNhap] [float] NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[HinhAnh] [nvarchar](200) NULL,
	[MaLoai] [int] NULL,
 CONSTRAINT [PK__SANPHAM__2725081C82901B48] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 31/01/2026 4:13:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NULL,
	[HoTen] [nvarchar](100) NULL,
	[VaiTro] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] ON 

INSERT [dbo].[LOAISANPHAM] ([MaLoai], [TenLoai]) VALUES (1, N'Kẹo Dẻo')
INSERT [dbo].[LOAISANPHAM] ([MaLoai], [TenLoai]) VALUES (2, N'Chocolate')
INSERT [dbo].[LOAISANPHAM] ([MaLoai], [TenLoai]) VALUES (3, N'Kẹo Cứng')
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] OFF
GO
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [SoLuong], [GiaBan], [GiaNhap], [DonViTinh], [HinhAnh], [MaLoai]) VALUES (1, N'Kẹo dẻo hương dâu', 100, 5000, 3000, N'Gói', N'ekodeovidau.jpg', 1)
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [SoLuong], [GiaBan], [GiaNhap], [DonViTinh], [HinhAnh], [MaLoai]) VALUES (2, N'Kẹo dẻo gấu MiMi', 150, 7000, 4500, N'Gói', N'keodeogau.jpg', 1)
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [SoLuong], [GiaBan], [GiaNhap], [DonViTinh], [HinhAnh], [MaLoai]) VALUES (3, N'Chocolate sữa nhân hạt', 80, 35000, 25000, N'Thanh', N'socola sua nhat hat.jpg', 2)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
GO
INSERT [dbo].[TAIKHOAN] ([Username], [Password], [HoTen], [VaiTro]) VALUES (N'admin', N'123', N'Quản Lý Cửa Hàng', N'Admin')
INSERT [dbo].[TAIKHOAN] ([Username], [Password], [HoTen], [VaiTro]) VALUES (N'nhanvien', N'123', N'Nhân Viên Bán Hàng', N'Staff')
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_HoaDon_NgayLap]  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [DF_SANPHAM_SoLuong]  DEFAULT ((0)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_HoaDon] FOREIGN KEY([Username])
REFERENCES [dbo].[TAIKHOAN] ([Username])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HoaDon_HoaDon]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LoaiSanPham] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LOAISANPHAM] ([MaLoai])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LoaiSanPham]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'admin or staff' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TAIKHOAN', @level2type=N'COLUMN',@level2name=N'VaiTro'
GO
